/* Trip advisor rubbish */

/* Top-level container */
#CDSRATINGWIDGET602 {
    /* fix overflow of image */
    overflow: hidden;
  }
  
  /* Image, Name, Rating container */
  #CDSROWCONTAINER602 {
    /* Control positioning against default table-cell */
    display: flex !important;
    flex-direction: row;
     /* up-down*/
    align-items: center;
    justify-content: space-around;
  }
  
  /* Image, Name, Rating items */
  #CDSROWCONTAINER602>div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  
  #CDSROWLOC602 {
    max-width: unset !important;
  }
  
  @media only screen and (max-device-width: 382px) {
  
    /* Overwrite default 452px width */
    #CDSRATINGWIDGET602 {
      width: 100% !important;
    }
  }