<!-- Footer -->
<footer class="w3-center my-beach-blue w3-padding-64">
    <a href="#home" class="w3-button my-beach-orange my-hover-beach-blue my-hover-border-beach-orange my-border-beach-orange"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
        <a href="https://www.facebook.com/profile.php?id=61555683188414" target="_blank"> <i
                class="fa fa-facebook-official w3-hover-opacity"></i></a>
                
        <!--i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i-->
    </div>

    <div class="w3-row-padding" id="footer-bottom">

        <div class="w3-container w3-padding-16 w3-col l4 my-flex-middle">
            <div w3-include-html="./components/book-button.html"></div>
        </div>

        <div class="w3-container w3-padding-16 w3-col l4 my-flex-middle">
            <span>25-29 Club Ave, Moore Park Beach, QLD, 4670</span>
            <span>(07) 4159 8332</span>
            <a href="mailto:  info@mooreparkbeachinn.com.au"> info@mooreparkbeachinn.com.au </a>
        </div>

        <div class="w3-container w3-padding-16 w3-col l4" style="text-align: justify;">
            <span>In the spirit of reconciliation we acknowledge the Traditional Custodians of Country throughout
                Australia
                and their connections to land, sea and community. We pay our respect to their Elders past and present
                and
                extend that respect to all Aboriginal and Torres Strait Islander peoples today.</span>
        </div>
    </div>



</footer>