<!--div class="bgimg-1 w3-display-container" id="home">
    <div class="w3-display-middle">
        <div class="w3-center w3-padding-large w3-xxlarge w3-wide my-beach-blue " id="my-title">
            <span>Moore&nbsp;Park Beach&nbsp;Inn</span>
        </div>
    </div>
    <div class="w3-display-bottommiddle" style="padding: 2px 0;">
        <div id="TA_cdsratingsonlywide602" class="TA_cdsratingsonlywide">
            <ul id="1hjz94o7uU" class="TA_links i2SYgwOAo">
                <li id="pVPBtkG" class="xBBw5fneh6x">
                    <a target="_blank"
                        href="https://www.tripadvisor.com.au/Hotel_Review-g3561484-d3171922-Reviews-Moore_Park_Beach_Inn-Moore_Park_Beach_Bundaberg_Region_Queensland.html">
                        <img src="https://www.tripadvisor.com.au/img/cdsi/img2/branding/v2/Tripadvisor_lockup_horizontal_secondary_registered-18034-2.svg"
                            alt="TripAdvisor" style="height: 1px;" /></a>
                </li>
            </ul>
        </div>
    </div>
</div-->
<div id="home">
    <img src="./images/mpb-sign.jpeg" style="width:100%" class="w3-hide-small">
    <img src="./images/mpb-sign-small.jpg" style="width:100%" class="w3-hide-medium w3-hide-large">

    <div>
        <div style="padding: 2px;">
            <div id="TA_cdsratingsonlywide602" class="TA_cdsratingsonlywide">
                <a target="_blank"
                    href="https://www.tripadvisor.com.au/Hotel_Review-g3561484-d3171922-Reviews-Moore_Park_Beach_Inn-Moore_Park_Beach_Bundaberg_Region_Queensland.html">
                    <img src="https://www.tripadvisor.com.au/img/cdsi/img2/branding/v2/Tripadvisor_lockup_horizontal_secondary_registered-18034-2.svg"
                        alt="TripAdvisor" style="height: 1px;" /></a>
            </div>
        </div>

        <div>
            <!-- place for google review -->        

        </div>
    </div>
</div>