<div id="home">
    <img src="./images/mpb-sign.webp" style="width:100%" class="w3-hide-small">
    <img src="./images/mpb-sign-small.webp" style="width:100%" class="w3-hide-medium w3-hide-large">
</div>

<style>
    .review {
        padding: 2px;
        display: flex;
        justify-content: center;
    }

    #review-right {
        padding: 2px;
    }

    @media only screen and (min-width: 993px) {
        #review-right {
            justify-content: right;
        }

        #review-left {
            justify-content: left;
        }
    }
</style>

<div class="w3-row" id="review-row">
    <div w3-include-html="./components/tripadvisor-review.html" class="review w3-col l6 m12 s12" id="review-left">
    </div>
    <div w3-include-html="./components/google-review.html" class="review w3-col l6 m12 s12" id="review-right">
    </div>
</div>
</div>