<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
        <div class="w3-center w3-padding-large w3-xxlarge w3-wide my-beach-blue" id="my-title">
            <span>Our Inn</span>
        </div>
    </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="our-motel">

    <!-- row -->
    <div class="w3-row inn-rows">

        <div class="w3-half w3-container">
            <img src="./images/about-photo.webp" style="width:100%" alt="Owners">
        </div>

        <div class="w3-half w3-container my-flex-middle">
            <h3 class="w3-center">Hosted by the Owners</h3>
            <p>Your hosts, Jan, Sally and Peppi are also Moore Park Beach Inn's owners and operators. Whenever their
                assistance
                is needed you can find them onsite delivering outstanding service and guiding guests so they can fully
                enjoy a
                quiet beachside stay.</p>
        </div>

    </div>

    <!-- row -->
    <div class="w3-row inn-rows">

        <div class="w3-half w3-container my-flex-middle">
            <h3 class="w3-center">Enjoy the Pool & BBQ</h3>
            <p>Care for a swim? Guests are welcome to relax and quietly enjoy our sparkling, salt-water pool and
                spa
                at any time. Our BBQ is available for complimentary use
                if
                you'd like to show off your outdoor cooking skills too.</p>
        </div>

        <div class="w3-half w3-container">
            <img src="./images/bbq.webp" style="width:100%" alt="The mist over the mountains">
        </div>

    </div>


    <div class="w3-row w3-section">
        <div class="w3-container">
            <h3 class="w3-center">Our Rooms</h3>
            <p>We have seven rooms including a disability accessible room.</p>
        </div>
        <div class="w3-third w3-container w3-padding-16">
            <img src="./images/bed.webp" width="100%" alt="">
        </div>
        <div class="w3-third w3-container w3-padding-16 ">
            <img src="./images/room-wide.webp" width="100%" alt="">
        </div>
        <div class="w3-third w3-container w3-padding-16">
            <img src="./images/shower.webp" width="100%" alt="">
        </div>
    </div>

</div>