<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
    <h3 class="w3-center">Just 18 km from the bustling Bundaberg CBD awaits a haven of unspoilt nature where you, your
        family and pets can
        truly relax.</h3>
    <p>
        Welcome to Moore Park Beach Inn! We'd like to invite you to sea, sun and sand coupled with an incomparable level
        of service
        that has earned us stellar reviews on TripAdvisor and Google.
        It's our privilege to provide both comfort and affordability to our guests but the Moore Park Beach Inn
        experience goes far
        beyond that. Stay with us and you'll enjoy:</p>

    <div class="w3-row-padding enjoy-text">
        <div class="w3-col w3-padding-16 l4">
            <li>Breathtaking sunsets and sunrises with 17 km of north-east facing shoreline that's perfect for a
                romantic
                stroll.</li>
        </div>
        <div class="w3-col w3-padding-16 l4">
            <li>A proudly pet-friendly environment where your furry family members are lovingly welcomed.</li>
        </div>
        <div class="w3-col w3-padding-16 l4">
            <li>A peaceful environment at a boutique motel with only seven rooms that's easy to access from the heart of
                Bundaberg.</li>
        </div>
        <div class="w3-col w3-padding-16 l4">
            <li>Complimentary use of the Motel BBQ for making your favourite grilled specialty outdoors.</li>
        </div>
        <div class="w3-col w3-padding-16 l4">
            <li>Access to our relaxing salt-water pool and spa to let the stress melt away.</li>
        </div>
        <div class="w3-col w3-padding-16 l4">
            <li>A lovely seasonal breakfast menu full of fresh local produce.</li>
        </div>
    </div>

    <p>Whether you're looking for somewhere to rest while travelling, you've had a medical visit to Bundaberg and need
        to convalesce or you just need a pleasant change of scenery, feel free to stay with us! Send us a message or
        give
        us a call and book your stay today.</p>

    <div class="w3-row-padding">
        <div class="w3-col w3-padding-16 l4">
            <div class="rwimg-1" aria-label="picture of dogs"></div>
            <h2>Pet Friendly</h2>
            <p>The perfect holiday isn't perfect if your furrier family members can't come along too. That's why pets
                are
                welcome at Moore Park Beach Inn. Just let us know when you book your stay so we can prepare in advance
            </p>
        </div>
        <div class="w3-col w3-padding-16 l4">
            <div class="rwimg-2"  aria-label="pictur of sunset"></div>
            <h2>Enjoy The Sunset</h2>
            <p>Moore Park Beach's 17 km of pristine coast is the perfect backdrop for a solitary or romantic stroll.
                You'll
                be tempted to wake up early to watch the sunrise and return later in the afternoon for gorgeous sunsets
                too
            </p>
        </div>
        <div class="w3-col w3-padding-16 l4">
            <div class="rwimg-3" aria-label="picture of hotel room"></div>
            <h2>Comfortable Rooms</h2>
            <p>Our cosy inn hosts just seven rooms so there's never a crowd and you can relax in peace. All of our rooms
                are well maintained and offer a range of creature comforts you can enjoy throughout your stay.</p>
        </div>
    </div>

</div>