<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <div class="w3-center w3-padding-large w3-xxlarge w3-wide my-beach-blue" id="my-title">
      <span>Contact Us</span>
    </div>
  </div>
</div>



<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-64" id="contact">
  <h3 class="w3-center">WHERE WE ARE</h3>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1159.5724892606931!2d152.27588868280603!3d-24.71796232106092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6bebc6170e30f86f%3A0x5b026414070af8a7!2sMoore%20Park%20Beach%20Inn!5e1!3m2!1sen!2sau!4v1724048116268!5m2!1sen!2sau"
    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>



  <div class="contact-info">
    <div class="w3-large w3-section">
      <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>Moore Park Beach, QLD<br>
      <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>(07) 4159 8332<br>
      <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i><a
        href="mailto:  info@mooreparkbeachinn.com"> info@mooreparkbeachinn.com </a>
    </div>
  </div>
</div>

<style>
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>