<div class="w3-top">
  <div class="w3-bar my-beach-blue" id="navbar">

    <a class="w3-bar-item w3-button my-hover-beach-orange w3-hide-medium w3-hide-large w3-right"
      href="javascript:void(0);" title="Toggle Navigation Menu" id="toggle-nav-menu">
      <i class="fa fa-bars"></i>
    </a>


    <a href="#home" class="w3-bar-item w3-button my-hover-beach-orange">HOME</a>
    <a href="#about" class="w3-bar-item w3-button w3-hide-small my-hover-beach-orange"><i
        class="fa fa-user"></i>ABOUT</a>
    <a href="#our-motel" class="w3-bar-item w3-button w3-hide-small my-hover-beach-orange"><i class="fa fa-home"></i>OUR
      INN</a>
    <a href="#contact" class="w3-bar-item w3-button w3-hide-small my-hover-beach-orange"><i
        class="fa fa-phone"></i>CONTACT</a>
    <a href="https://useross.com/booking.php?dialog=motel&motel_id=197"
      class="w3-bar-item w3-button w3-hide-small my-hover-beach-orange"><i class="fa fa-envelope"></i>BOOK</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navbar-mobile" class="w3-bar-block my-beach-cream w3-hide w3-hide-large w3-hide-medium">
    <a href="#about" class="w3-bar-item w3-button my-hover-beach-blue">ABOUT</a>
    <a href="#our-motel" class="w3-bar-item w3-button  my-hover-beach-blue">OUR INN</a>
    <a href="#contact" class="w3-bar-item w3-button  my-hover-beach-blue">CONTACT</a>
    <a href="https://useross.com/booking.php?dialog=motel&motel_id=197" class="w3-bar-item w3-button  my-hover-beach-blue"
      >BOOK</a>
  </div>
</div>

<style>
  #navbar>a>i {
    padding-right: 4px;
  }
</style>

